<section {{ attributes.addclass('splide') }}>
  <div class="splide__track">
    <ul class="splide__list">
      {% for slide in slides %}
        <li class="splide__slide">{{ slide }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
